$white: #ffffff;
$black: #000000;
$blue: #5094f2;
$blue2: #73a9f5;
$red: #d94748;
$yellow: #ebbb11;
$gray: #909090;
$gray1: #6c6c6c;
$gray2: #cccccc;
$gray3: #6f7173;
$gray4: #979797;
$gray5: #e5e5e5;
$base_font_size: 16px;
$desktop: 1024px;
$tablet: 768px;