.advantages {
    background: url(../images/hump.png);
    margin-top: rem(-5px);

    &_list {
        @include site_width;
        display: flex;
        justify-content: space-around;

        &_item {
            &_icon {
                display: block;
                width: rem(185px);
                height: rem(185px);
                font-size: 0;
                border-radius: 50%;
                position: relative;
                margin: rem(70px) auto rem(25px);

                &::before {
                    @include clearfix;
                    position: absolute;
                }

                &.icon-pencil {
                    background-color: $blue;

                    &::before {
                        font-size: rem(105px);
                        top: rem(40px);
                        left: rem(55px);
                    }
                }

                &.icon-monitor {
                    background-color: $red;

                    &::before {
                        font-size: rem(80px);
                        top: rem(55px);
                        left: rem(45px);
                    }
                }


                &.icon-cart {
                    background-color: $yellow;

                    &::before {
                        font-size: rem(90px);
                        top: rem(45px);
                        left: rem(45px);
                    }
                }
            }

            &_text {
                display: inline-block;
                width: rem(260px);
                text-align: center;

                &_link {
                    @include font ('SegoeWPN', 20.35px, $blue2);
                }

                &_description {
                    @include font ('SegoeWPN', 14.35px, $gray);
                    margin-top: rem(10px);
                }
            }
        }
    }

    @include respond-to (to_desktop) {
        background: none;
        margin-top: 0;

        &_list {
            flex-direction: column;
            width: 100%;

            &_item {
                display: flex;
                justify-content: space-around;
                border-bottom: rem(1px) solid $gray2;

                &_icon {
                    width: rem(135px);
                    height: rem(135px);
                    margin: rem(40px) rem(25px) rem(20px) rem(45px);

                    &.icon-pencil {
                        &::before {
                            font-size: rem(80px);
                            top: rem(30px);
                            left: rem(40px);
                        }
                    }

                    &.icon-monitor {
                        margin-top: rem(30px);

                        &::before {
                            font-size: rem(60px);
                            top: rem(40px);
                            left: rem(32px);
                        }
                    }

                    &.icon-cart {
                        margin-top: rem(20px);

                        &::before {
                            font-size: rem(70px);
                            top: rem(33px);
                            left: rem(30px);
                        }
                    }
                }

                &_text {
                    margin: rem(55px) rem(75px) 0 0;
                    text-align: left;
                    width: rem(360px);

                    &.monitor {
                        margin-top: rem(45px);
                    }

                    &.cart {
                        margin-top: rem(35px);
                    }

                    &_link {
                        font-size: rem(34.13px);
                    }

                    &_description {
                        font-size: rem(19.35px);
                        margin-top: rem(5px);
                    }
                }
            }
        }
    }
}