.banner{
    margin-top:5.625rem ;
    background: url(../img/background.png) no-repeat ;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30rem;
    
    &_body{
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 3rem;
    }
    &_img{
        background:url(../img/iphone.png) no-repeat;
        background-size:contain;
        width: 21.65rem;
        height: 26.56rem;
        margin: 1.25rem 6.25rem 0 0; 
    }
    &_title{
        @include font($color5, 2.625rem,2.625rem); 
    }
    &_subtitle{
        @include font($color5, 1.625rem,2.625rem);  
    }
    
    &_link{
        background-color: #5094f2;
        padding: 0.5rem 0.625rem 0.7rem;
        @include font($color5, 1.375rem,auto);    
    }
    
    .icons.icon-check{
        display: inline;
        font-size: 36px;
        vertical-align: middle;
    }
}