.container{
    max-width: 980px;
    margin: 0 auto;
}

.header{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 50;

    &::before{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:$color5;
        z-index: 3;
    }
    .logo{
        display: flex;
        z-index: 3;
        @include font($color6, 2.625rem,auto);
        align-items: center;
        &_img{
            width: 2.8125rem;
            height:2.8125rem;
            margin-right: 0.9375rem;
        }

    }
    
    &_body{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5.625rem;
    }

    &_list{
        display: flex;
        position: relative;
        z-index: 3;

    }
    &_item{
        margin-left: 1.875rem;
    }

    &_link{
        @include font($color1, 1.25rem,auto);
        padding-bottom: 1.87rem;
        &:hover{
            border-bottom:2px solid $color7;
        }
    }
}
