.services{
    background-color: $color5;
    padding-top: 3.125rem;   
    &_list{
        display:flex;
        justify-content: space-between;
    }
    &_item{
        width: 280px;
    }
    
    &_title{
        @include font($color7, 1.3125rem, 4rem);
        text-align: center;
    }
    &_description{
        @include font($color2, 0.875rem, auto);
        text-align: center;
    }
    .icons{
        margin-left: 2.875rem;
        @include font($color5, 5rem, auto);
        text-align: center;  
        padding-top: 2.5rem;
        width: 11.5rem;
        height: 11.5rem;
        border-radius: 50%;
    }
    .icons.icon-desktop{
        background-color: #d94748;     
    }
    .icons.icon-pencil1{
        background-color: $color7;
    }
    .icons.icon-basket{
        background-color: #ebbb11;
    }
}