.copyright {
    border-top: 1px solid $gray5;
    padding: rem(30px) 0 rem(40px);
    text-align: center;

    &_title {
        @include font ('SegoeWPN', 15.35px, $gray4);
    }

    @include respond-to (to_desktop) {
        padding-bottom: rem(33px);
    }
}